@charset "UTF-8";
body {
    margin: 0;
    background-color: #f4f4f4; /* Cor de fundo da página */
}
nav{
    background-color: #5e232a ;
    position: sticky;
    top: 0;
    z-index: 1000;
    
  width: 100%;
  
}