@charset "UTF-8";
@font-face {
    font-family: 'Montserrat-Arabic';
    src: url(Fontes/Montserrat-Arabic\ Bold.ttf) format('truetype');
}
body {
    margin: 0; /*Margin da página ocupa Tela Toda*/
    overflow-x: hidden; /*Remove a barra de rolagem horizontal*/
    background-color: #f4f4f4; /* Cor de fundo da página */
}
nav{ /* Barra de Navegação */ 
    background-color: #4c071b ; /*Cor de Fundo da Barra De Navegação*/ 
    position: sticky;/*Posição Fixa*/
    top: 0; /*Fica no topo da página*/
    z-index: 1000; /*Fica Sobrepondo os outros elementos*/
    
  width: 100%;
  
}
#paralelogramo{
  
 
    width: 200px;
    height: 45px;
    clip-path: polygon(
    4% 0%, 
    100% 0%, 
    100% 100%, 
    0% 100%
    
    );
  
  
    background-color:  rgba(139, 0, 0, 0.438);
    display: inline-block;
    position: relative;
    left: 1130px; 
    top: -15px;

}
#TrabalheConosco {
    color: white;
    font-family: 'Montserrat-Arabic', sans-serif;
    font-size: 20px;
    display:inline-block ;
    position: relative;
    left: 914px;
    top: -30px;
    text-decoration: none; /* Remove o sublinhado do link */
    padding: 10px 20px; /* Adiciona um pouco de preenchimento ao redor do texto */
    font-size: 18.5px; /* Tamanho da fonte */

}
  