@charset "UTF-8";
@font-face {
    font-family: 'Codec-Cold';
    src: url(Fontes/codec-pro.regular.ttf) format('truetype');
}
#banner {
    position: relative;
    height: 600px;
    overflow: hidden;
    background-color: #4c071b;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100%;
}

#LinhaDiagonal {
    position: absolute;
    height: 4px;
    width: 35.456vw; /* largura responsiva */
    background-color: #dacbb7;
    transform: rotate(-45deg);
    top: 60%; /* ajuste vertical */
    left: 10%; /* ajuste horizontal */
    transform-origin: left center; /* ponto de rotação */
    z-index: 1;
    grid-row-start: 4;
    animation: EntradaLinhaDiagonal 1s forwards; /* animação de entrada */
    
}

#LinhaHorizontal {
    position: absolute;
    height: 4.5px;
    width: 36vw; /* largura responsiva */
    background-color: #dacbb7;
    top: calc(60% - 25vw); /* ajusta com base na diagonal */
    left: calc(10% + 25vw); /* posição ao final da diagonal */
    z-index: 1;
    grid-row-start: 4;
    animation: EntradaLinhaHorizontal 1s forwards; /* animação de entrada */
    animation-delay: 0.8s;
    opacity: 0;
}


#textoSobreNos{
    position: absolute;
    top: 32%;
    left: 54%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    padding: 0px 70px;
    text-align: start;
    z-index: 2;
    font-family: 'Codec-Cold', sans-serif;
    line-height: 1.3;
    opacity: 0;
    animation: EntradaTexto 1s forwards; /* animação de entrada */
    animation-delay: 0.8s;
    
}


.hexagon {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(139, 0, 0, 0.438);
    clip-path: polygon(50% 0%, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0% 75%, 
    0% 25%
    );
    animation: flutuar 7s infinite alternate ease-in-out, moverLateralmente 5s infinite alternate ease-in-out, aparecerDesaparecer 8s forwards;
    filter: brightness(0.9);
    opacity: 0;
}

@media screen and (min-width: 1327px){
    #textoSobreNos{
        top: 29%;
    }
}
@media screen and (min-width: 1445px){
    #textoSobreNos{
        top: 25%;
    }
}
@media screen and (min-width: 1550px){
    #textoSobreNos{
        top: 21%;
    }
}
@media screen and (min-width: 1650px) {
    #LinhaDiagonal{
        width: 32.6vw;
    }
    #LinhaHorizontal{
        top: calc(60% - 23vw);
        left: calc(10% + 23vw);
        width: 37vw;
    }
    #textoSobreNos{
        left: 53%;
    }
}

@media screen and (min-width: 1750px) {
    #LinhaDiagonal{
        width: 29.8vw;
    }
    #LinhaHorizontal{
        top: calc(60% - 21vw);
        left: calc(10% + 21vw);
        width: 38vw;
    }
    #textoSobreNos{
        left: 52%;
        padding: 0px 80px;
    }
}

@media screen and (max-width: 700px) {
        #textoSobreNos{
            font-size: 15px;
            padding: 0 0;
            top: 60%;
            padding-left: 3vw;

        }
}
@media screen and (max-width: 1022px) {
    #textoSobreNos{
        top: 37%;
        padding: 10px 55px;
    }
        
}
@media screen and (max-width: 820px){
    #textoSobreNos{
        top: 45%;
        left: 55%;
        padding: 0px 30px;
    }

    #LinhaHorizontal{
        width: 39vw;
    }
        
}

@media screen and (max-width: 735px){
    #textoSobreNos{
        top: 49%;
        left: 56%;
        padding: 0px 10px;
    }

    #LinhaHorizontal{
        width: 39.5vw;
    }
        
}

@keyframes flutuar {
    from {
        transform: translateY(0) rotate(0deg);
    }
    to {
        transform: translateY(100px) rotate(360deg);
    }
}

@keyframes moverLateralmente {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}

@keyframes aparecerDesaparecer {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes EntradaLinhaDiagonal {
    0% { transform: rotate(-45deg) translateX(-100%); }
    100% { transform: rotate(-45deg) translateX(0); }
}

@keyframes EntradaLinhaHorizontal {
    0% { opacity: 0; width: 0; }
    100% { opacity: 1; width: 1; }
}
@keyframes EntradaTexto {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}